{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h1>Post creation</h1>
    </div>

    <div class="row">
        <div class="col-lg-8">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-success" type="submit" value="Create" />
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-primary" href="{{ path('post_index') }}">Back to the list</a>
        </div>
    </div>

{% endblock %}
